html {
  background-color: #c9b5ab;
}

header, footer {
  font-size: 1.5rem;
}

#varieties, #nutrition, #tags {
  color: #8f2440;
  font-family: "Open Sans", sans-serif;
}

#desc {
  color: #8f2440;
  font-size: 1.25rem;
}

footer {
  font-size: 1.258rem;
}

blockquote {
  font-size: 1.5rem;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
}
